#stickleft-container{
	position: fixed;
	top: 30%;
	left: 20px;
	width: 15%;
	z-index: 1000;
}

.stickleft-article{
	background-color: white;
	width: 100%;
	border: 1px solid;
	border-radius: 2px;
	border-color: #F0F0F0;
	padding: 10px;
	margin: 10px;
	box-shadow: 5px 5px 5px #888888;

}

.stickleft-article p {
	text-align: justify;
	font-size: 10pt;
}

.stickleft-article h1, .stickleft-article h2{
	text-align: center;
	font-size: 14pt;
	font-style: bold;
}

.stickleft-article h3, .stickleft-article h4, .stickleft-article h5, .stickleft-article h6{
	text-align: left;
}
